@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

::selection {
  background: rgba(37, 99, 235, 0.2);
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
